<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <a href="/"><li>Home</li></a>
        <a href="/login"><li>Login</li></a>
        <a href="/newblog"><li>New Blog</li></a>
      </ul>
    </nav>
      {{!-- <div class="header"><h1><a href="#default" class="logo">Tech Blog</a>
      <div class="header-right">
      <a href="#home">Home</a>
      <a href="#dash-board">Dashboard</a>
      <a href="#Logout">Logout</a>
      --}}
    </div>
  </header>

  <main>
    {{{body}}}
  </main>

  <footer>
    <h3>This is the footer</h3>
  </footer>
</body>
</html>