<h1>Create New Blog</h1>

<form id="newblog-form">
    <label>Title</label>
    <input type="text" id="input-title"/>
    <label>Content</label>
    <input type="text" id="input-content"/>
    <button type="submit">Submit</button>
</form>

<script src="/js/newblog.js"></script>